@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Home/Form" method="post">
    <input type="text" value="陈龙" name="_name" />
     <input type="text" value="20" name="_age" />
    <button type="submit">提交</button>
</form>